
.dark-theme {
  background-color: #000;
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #000;
}

.main{
  width : 900px;
  height : 500px;
  margin : 100px auto;
  padding : 20px;
  border-radius : 10px;
  background-color : #fff;
  box-shadow: 0 0 8px #000;
  opacity: 0.8;
}